h1{
    font-size: 40px;
    text-align: center;
    color: #f62f2f
}

body{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background-color: black;
}

img {
    max-width: 100%;
}